body
{
    background-color:#9C9C9C;
    
    -webkit-user-select: none; 
}

#toolbar
{
    background-color:#094AB2;
    
    position:fixed;
    height:100%;
    width:150px;
    
    left:0px;
    top:0px;
    z-index:2147483647;
    
    -webkit-box-shadow: 3px 0px 3px black;
    -webkit-animation: fly_in_from_left 0.5s, fade_in 0.5s;
}

#properties
{
    background-color:#094AB2;
    
    position:fixed;
    height:100%;
    width:300px;
    
    right:0px;
    top:0px;
    z-index:2147483647;
    
    -webkit-box-shadow: -3px 0px 3px black;
    -webkit-animation: fly_in_from_right 0.5s, fade_in 0.5s;
}

#canvas
{    
    -webkit-box-shadow: 3px 3px 10px black;
    -webkit-user-select: none;
    
    -webkit-animation: fade_in 1s;
}

.title
{
    font-family:arial;
    font-size:95%;
    color:white;
    font-weight:bold;
    
    text-align:center;
}

.toolbarItem
{    
    background-color:#000000;
    
    border:2px solid #FFFFFF;
    
    display:inline-block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:90%;
    text-decoration:none;
    text-align:center;
    
    position:relative;
    
    width:50px;
    height:40px;
    
    margin-left:12px;
    margin-top:10px;
    
    -webkit-user-select: none;
}

.disabledToolbarItem
{    
    background-color:#9C9C9C;
    
    border:2px solid #FFFFFF;
    
    display:inline-block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:90%;
    text-decoration:none;
    text-align:center;
    
    position:relative;
    
    width:50px;
    height:40px;
    
    margin-left:12px;
    margin-top:10px;
    
    -webkit-user-select: none;    
}

.closeButton, .compileButton, .saveButton
{
    background-color:#000000;
    
    border:2px solid #FFFFFF;
    
    display:block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:90%;
    padding:9px 0px 6px 0px;
    text-decoration:none;
    text-align:center;
    
    position:relative;
    
    width:134px;
    height:20px;
    
    margin-left:5px;
    margin-bottom:10px;
    margin-top:8px;
    
    -webkit-user-select: none;    
}

.disabledSaveButton, .disabledCompileButton
{
    background-color:#9C9C9C;
    
    border:2px solid #FFFFFF;
    
    display:block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:90%;
    padding:9px 0px 6px 0px;
    text-decoration:none;
    text-align:center;
    
    position:relative;
    
    width:134px;
    height:20px;
    
    margin-left:5px;
    margin-bottom:10px;
    margin-top:8px;
    
    -webkit-user-select: none;          
}

.spacer
{
    display:inline-block;
    text-align:center;
    width:125px;
    border:1px solid white;
    margin:0px 15px 0px 10px;    
}

#gallery
{ 
    width:400px; 
    height:300px;
    background:#000000; 
}

#properties_title
{
    margin-top:30px;
    margin-bottom:10px;    
    
    font-family:"arial";
    font-size:150%;
    color:white;
    text-align:center;
    font-weight:bold;
}

#properties_form
{
    margin:0px 10px 0px 10px;
}

.properties_label
{
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    font-family:"arial";
    color:white;    
    font-size:100%;
    text-align:center;
}

.properties_input
{
    display:block;
    margin: 0 auto;
    text-align:center;
}

#delete_button
{
    background-color:#000000;
    
    border:2px solid #FFFFFF;
    
    display:inline-block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:95%;
    padding:9px 0px 6px 0px;
    text-decoration:none;
    text-align:center;
    
    position:relative;
    top:27px;
    
    width:100px;
    height:20px;
    
    margin:10px 10px 200px 10px;
    
    -webkit-user-select: none;    
}

#apply_button
{
    background-color:#000000;
    
    border:2px solid #FFFFFF;
    
    display:inline-block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:95%;
    padding:9px 0px 6px 0px;
    text-decoration:none;
    text-align:center;
    
    position:relative;
    top:27px;
    
    width:100px;
    height:20px;
    
    margin:10px 10px 200px 25px;
    
    -webkit-user-select: none;    
}

#delete_button:hover, .closeButton:hover
{
    background-color:#BF1E4B;
}

#delete_button:active, .closeButton:active
{
    background-color:#AC193D;
}

#apply_button:hover, .toolbarItem:hover, .saveButton:hover, .compileButton:hover
{
    background-color:#00A600;
}

#apply_button:active, .toolbarItem:active, .saveButton:active, .compileButton:active
{
    background-color:#008A00;
}
