html
{
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
}

body
{
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	font-family: arial;
}

#content
{
    overflow:auto;
    overflow-y:scroll;
	position:absolute;
	top:106px;
	width:100%;
	bottom:106px;
	font-family:arial;
	background:white;
}

#screens
{
	padding:1%;
}

.addScreen
{
    display:block;
    float:left;
    margin:1%;
    position:relative;
    width:250px;
    height:112px;
    border:3px solid black;
    background:black;
    
    font-weight:bold;
    color:white;
    padding:1.5% 2% 2.5% 2%;
    cursor:pointer;
    
    -webkit-user-select: none;
}

.screen
{
    display:block;
    float:left;
    margin:1%;
    position:relative;
    width:250px;
    height:112px;
    border:3px solid black;
    background:#9C9C9C;
    
    font-weight:bold;
    color:white;
    padding:2%;
    cursor:pointer;
    -webkit-user-select: none;
}

.screen
{
	padding-left:2%;
}

.name
{
    display: inline;
    margin-left:15px;
    font-size:1.0em;
}

.description
{
	font-size:0.8em;
	padding-left:8%;
	padding-top:10%;
	font-style:italic;
}

.screen_img
{
    display: inline;
	width:20%;
}

.tick
{
	position:absolute;
	top:10px;
	left:10px;
}

#bottom_bar
{
    position:fixed;
    left:0px;
    width:100%;
    height:100px;
    z-index:214700000;
    
    bottom:0px;
    background:#094AB2;
    border:3px solid white;
    
    text-align:center;
}

#top_bar
{
    position:fixed;
    left:0px;
    width:100%;
    height:100px;
    z-index:2147000000;
    
    top:0px;
    background:#094AB2;
    border:3px solid white;
    
    text-align:center;
}

.status
{
    display:inline-block;
    color:white;
    font-weight:bold;    
    font-size:100%;
    
    margin-top:20px;
}

.button
{
    background-color:#000000;
    
    border:2px solid #FFFFFF;
    
    display:inline-block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:15px;
    padding:13px 24px 6px 24px;
    text-decoration:none;
    text-align:center;
        
    width:200px;
    height:26px;
    
    margin:25px 30px 0px 30px;
    
    -webkit-user-select: none;
}


.button:hover, .addScreen:hover
{
    background-color:#00A600;
}

.button:active, .addScreen:active
{
    background-color:#008A00;
}
