html
{
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
	
    font-family:arial;
    -webkit-user-select: none;
}

body
{
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	font-family: arial;
}

#content
{
    overflow:auto;
    overflow-y:scroll;
	position:absolute;
	top:106px;
	width:100%;
	bottom:106px;
	font-family:arial;
	background:white;
	
    -webkit-animation: fade_in 0.5s;
}

#screens
{
	padding:1%;
}

.addScreen
{
    display:block;
    float:left;
    margin:1%;
    position:relative;
    width:26.3%;
    height:112px;
    border:3px solid black;
    background:black;
    
    font-weight:bold;
    color:white;
    padding:1.5% 2% 2.5% 2%;
    cursor:pointer;
    
    -webkit-user-select: none;
}

#add_screen_plus
{
    position:absolute;
    top:0%;
    font-size:10em;
}

#add_screen_label
{
    position:absolute;
    top:60%;
    left:40%;
    font-size:2em;
}

.screen
{
    display:block;
    float:left;
    margin:1%;
    position:relative;
    width:26.3%;
    height:112px;
    border:3px solid black;
    background-color:#9C9C9C;
    
    font-weight:bold;
    color:white;
    padding:2%;
    cursor:pointer;
    -webkit-user-select: none;
}

.screen
{
	padding-left:2%;
}

.screen:hover
{
    background-color:#ff7e22!important;
}

.name
{
    display:block;
    position:absolute;
    z-index:1;
    top:10%;
    padding-right:7%;
    font-size:1.0em;
}

.description
{
	font-size:0.8em;
	position:absolute;
    left:35%;
    top:40%;
    padding-right:10%;
	font-style:italic;
}

.screen_ip
{
    position:absolute;
    font-size:1.0em;
    top:80%;
    font-weight:bold;
}

.screen_img
{
    display:inline;
    position:absolute;
    top:25%;
	height:50%;
}

.tick
{
	position:absolute;
	top:3%;
	left:1%;
}

#bottom_bar
{
    position:fixed;
    left:0px;
    width:100%;
    height:100px;
    z-index:214700000;
    
    bottom:0px;
    background:#094AB2;
    border:1px solid white;
    
    text-align:center;
    
    -webkit-animation: fly_in_from_bottom 0.5s, fade_in 0.5s;
    
    -webkit-box-shadow: 0px 0px 20px 5px #000000;
}

#top_bar
{
    position:fixed;
    left:0px;
    width:100%;
    height:100px;
    z-index:2147000000;
    
    top:0px;
    background:#094AB2;
    border:1px solid white;
    
    text-align:center;
    
    -webkit-animation: fly_in_from_top 0.5s, fade_in 0.5s;
    
    -webkit-box-shadow: 0px 0px 20px 5px #000000;
}

.status
{
    display:inline-block;
    color:white;
    font-weight:bold;    
    font-size:100%;
    
    margin-top:20px;
}

.button
{
    background-color:#000000;
    
    border:2px solid #FFFFFF;
    
    display:inline-block;
    
    color:#FFFFFF;
    font-family:arial;
    font-size:15px;
    padding:13px 24px 6px 24px;
    text-decoration:none;
    text-align:center;
        
    width:200px;
    height:26px;
    
    margin:25px 30px 0px 30px;
    
    -webkit-user-select: none;
    
    cursor:pointer;
}


.button:hover, .addScreen:hover
{
    background-color:#00A600;
}

.button:active, .addScreen:active
{
    background-color:#008A00;
}

#filters
{
    margin-left:2%;
    margin-top:1%;
    cursor:default;
}

.filter_label, .filter
{
    display:inline-block;
}

#screens_count
{
    padding-left:10px;
}
