.button
{
	background-color:#000000;
	
	border:2px solid #FFFFFF;
	
	display:inline-block;
	
	color:#FFFFFF;
	font-family:arial;
	font-size:15px;
	padding:13px 24px 6px 24px;
	text-decoration:none;
	text-align:center;
	
	position:relative;
	top:27px;
	
	width:200px;
	height:26px;
	
	-webkit-user-select: none;
}

.button:hover
{
	background-color:#00A600;
}

.button:active 
{
	background-color:#008A00;
}
